section {
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-attachment: fixed;
}

.white {
	background-color: #fff;
}

.black {
	background-color: #000;
}

.green {
	background-color: #00f10a;
}

.pen {
	background-image: url("./1-Assets/the-pen.svg");
}

.mightier {
	background-image: url("./1-Assets/is-mightier.svg");
}

.than {
	background-image: url("./1-Assets/than.svg");
}

.sword {
	background-image: url("./1-Assets/the-sword.svg");
}

.end {
	background-image: url("./1-Assets/end.svg");
}

footer {
	position: fixed;
	bottom: 30px;
	width: 40px;
	left: 50%;
	margin-left: -20px;
}
